# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
# 'context-menu':
#  'atom-text-editor': [
#     {
#       'label': 'Toggle prime-generator'
#       'command': 'prime-generator:open'
#     }
#  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'prime-generator'
      'submenu': [
        {
          'label': 'Open'
          'command': 'prime-generator:open'
        }
      ]
    ]
  }
]
